@(id1:Int,id2:Int, id3:Int,
        reg1: String,reg2: String,reg3: String,
        name1: String,name2: String,name3: String)

<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <table border="2">
            <tr>
                <th>Index</th>
                <th>Registration</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>@id1</td>
                <td>@reg2</td>
                <td>@name1</td>
            </tr>
            <tr>
                <td>@id2</td>
                <td>@reg2</td>
                <td>@name2</td>
            </tr>
            <tr>
                <td>@id3</td>
                <td>@reg3</td>
                <td>@name3</td>
            </tr>
        </table>

    </body>
</html>